@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 400px;
    background-image: url("../images/bannerBackground.jpg");
    background-size: cover;
    margin: -10px -10px 0 -10px

}

header {
    height: 100px;
}

#socialMedia {
    float: left;
    list-style: none;
}

#socialMedia li {
    display:inline;
    margin-left: 30px;
    font-size: 30px;
}

#socialMedia a {
    color: #f3f3f3;
}

#socialMedia a:hover {
    color: #009ffd
}

#logo {
	width: 600px;
	height: 250px;
	margin-left: 600px;
	margin-bottom: 50px;
}

nav {
    float: right;
    font-size: 22px;
    margin: 18px 0;
    padding-right: 40px;
}

nav a {
    color: #f3f3f3;
    text-decoration: none;
    margin-left: 15px
}

nav a:hover {
    font-weight: 700;
    color: #009ffd;
}

#hompageSupportingImg {
    background: url("../images/indexHeadshot.jpg") no-repeat;
    width: 500px;
    height: 450px;
    float: left;
    margin: 50px 0 50px 100px;
    border-radius: 10px
}

.contentBlock {
    border: 1px solid #333;
    box-shadow: 0px 3px 7px 0px rgba(51, 51, 51, 0.5);
    border-radius: 10px; 
} 

#welcomeBox {
    float: right;
    width: 700px;
    height: 320px;
    margin: 80px 100px 0px 0;
    padding: 25px;
}

#welcomeBox h1 {
    text-align: center;
    font-size: 40px;
    margin: 30px 0; 
}

#welcomeMSG {
    padding: 0 50px;
    font-size: 18px;
	padding-bottom: 20px;
}

.mainCTA {
    width: 200px;
    height: 80px;
    border: 3px solid #f45d48;
    padding: 16px;
    border-radius: 30px;
    text-decoration: none;
    color: #f45d48;
    cursor: pointer;
	margin-left: 250px !important;
	
}

.mainCTA:hover {
    background: #f45d48;
    font-weight: bold;
    color: #f3f3f3;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
    margin-top: 40px;
}

.wrapper h1 {
    text-align: center;
    font-size: 40px;
    border-bottom: 3px solid #1d2b69;
    max-width: 1500px;
    margin: 20px auto;
    padding-bottom: 20px;
}

.column {
    float: left;
    width: 50%;
}

.aboutContent {
    padding: 40px 120px;
}
.aboutContent img, .aboutContent p {
    margin: 30px 0;
}
.aboutContent::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper section {
    padding: 20px 60px 0 60px;
}

#showcase p {
    margin-top: 10px;
}

.subheading {
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid #f45d48;
    width: 250px;
    padding-bottom: 15px   
}

.container {
    position: relative;
    width: 60%;
    overflow: hidden;
    padding: 20px 0 40px 0;
}

.slideshow img {
    filter: brightness(50%);
}
.slideshow {
    display: flex;
    width: 100%;
}

#previousButton, #nextButton {
    position: absolute;
    top: 45%;
    z-index: 10; 
    color: #f3f3f3;
    font-size: 60px;
    cursor: pointer;   
   
}

#nextButton:hover, #previousButton:hover {
    color: #009ffd
}

#previousButton {
    left: 5%;
}

#nextButton {
    right: 5%;
}

#formHeading {
    width: 400px !important;
}

input, textarea {
    width: 900px;
    display: block;
    border: 5px #333 solid;
    border-radius: 5px;
    margin: 40px 300px;
    font-size: 25px;
}


#fullName, #email {
    height: 60px;
    padding: 30px;
    
}

#message {
    height: 200px;
    padding: 20px;
}

input::placeholder, textarea::placeholder {
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
}

#submitButton {
 width: 150px;
 height: 60px;
 margin: 30px auto !important;
 padding: 0px !important;
 font-size: 18px
}